In [1]:
import sys
import os
 
# Getting the name of the directory where the this file is present.
current = os.path.dirname(os.path.realpath('legacy_users'))
 
# Getting the parent directory name where the current directory is present.
parent = os.path.dirname(current)
 
# Adding the parent directory to the sys.path.
sys.path.append(parent)

from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector

In [2]:
# print(DataExtractor().read_rds_table('legacy_users')) # ['legacy_store_details', 'legacy_users', 'orders_table']
legacy_users = DataExtractor().read_rds_table('legacy_users')
legacy_users

Initialise the new instance of DatabaseConnector.

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [3]:
print(legacy_users.columns.tolist())
# ['index', 'first_name', 'last_name', 'date_of_birth', 'company', 'email_address',
# 'address', 'country', 'country_code', 'phone_number', 'join_date', 'user_uuid']]

['index', 'first_name', 'last_name', 'date_of_birth', 'company', 'email_address', 'address', 'country', 'country_code', 'phone_number', 'join_date', 'user_uuid']

In [4]:
legacy_users = legacy_users.drop_duplicates()
legacy_users = DataCleaning.remove_null_values(legacy_users)

In [5]:
legacy_users['first_name'].sort_values()

10988
12092
2437
11761
2103
         ...
12387    Zoran
9696      Änne
2524      Änne
9082      Änne
13297     Änne
Name: first_name, Length: 15320, dtype: object

In [6]:
legacy_users['last_name'].sort_values()

866
11761
4984
10988
11864
              ...
2398     van der Dussen
11272    van der Dussen
13561    van der Dussen
4729     van der Dussen
14493    van der Dussen
Name: last_name, Length: 15320, dtype: object

In [7]:
legacy_users['date_of_birth'] = DataCleaning.remove_non_datetime_values(legacy_users, 'date_of_birth')
legacy_users['date_of_birth'] = DataCleaning.format_datetime_values(legacy_users, 'date_of_birth')
legacy_users = DataCleaning.remove_null_values(legacy_users)
legacy_users['date_of_birth'].sort_values()

2437
12177
1805
11443
2103
            ...
5915     2006-11-16
4340     2006-11-18
3890     2006-11-19
5786     2006-11-20
4816     2006-11-20
Name: date_of_birth, Length: 15320, dtype: object

In [8]:
legacy_users['company'].sort_values()
# legacy_users['company'].unique()

10988
7737
1805
4984
6920
                      ...
13687    van der Dussen GmbH & Co. KGaA
43               van der Dussen Karz KG
9734          van der Dussen Scholtz KG
11613           van der Dussen Stroh AG
5250             van der Dussen Vogt AG
Name: company, Length: 15320, dtype: object

In [9]:
legacy_users['email_address'].sort_values()
legacy_users['email_address'] = DataCleaning.remove_invalid_emails(legacy_users, 'email_address')
legacy_users['email_address'].sort_values()

7447
2235
13598
1118
1356
                 ...
3088         zwilson@henry.com
2011       zwood@lee-jones.org
2853          zwood@slater.com
2994     zwright@macdonald.com
12791          zwulff@vogt.org
Name: email_address, Length: 15320, dtype: object

In [10]:
legacy_users['address'].sort_values()

1022
10013
2103
5307
7737
                            ...
3161     van der Dussenring 3\n40458 Bad Liebenwerda
15147            van der Dussenstraße 7\n03749 Waren
4556             van der Dussenweg 5\n38336 Mainburg
4407     van der Dussenweg 58\n42640 Bad Langensalza
8814       Änne-Schmiedecke-Gasse 1\n08944 Gadebusch
Name: address, Length: 15320, dtype: object

In [11]:
legacy_users['country'] = DataCleaning.remove_non_countries(legacy_users, 'country')
legacy_users['country'].unique()

array(['Germany', 'United Kingdom', 'United States', ''], dtype=object)

In [12]:
legacy_users['country_code'].unique()
legacy_users['country_code'] = DataCleaning.remove_non_alpha_values(legacy_users, 'country_code')
legacy_users['country_code'].unique()
legacy_users.index[legacy_users['country_code'] == 'GGB'].to_list()
legacy_users['country_code'] = DataCleaning.correct_gb_country_code(legacy_users, 'country_code')
legacy_users['country_code'].unique()

array(['DE', 'GB', 'US', ''], dtype=object)

In [13]:
legacy_users['phone_number'].sort_values()
legacy_users['phone_number'].unique()
legacy_users['phone_number'] = DataCleaning.remove_alphanumerical_values(legacy_users, 'phone_number')
legacy_users['phone_number']

0         +49(0) 047905356
1          (0161) 496 0674
2        +44(0)121 4960340
3          (0306) 999 0871
4            0121 496 0225
               ...
15315      +44(0)292018946
15316     +44(0)1144960977
15317          02984 08192
15318         239.711.3836
15319     +44(0)1314960870
Name: phone_number, Length: 15320, dtype: object

In [14]:
legacy_users['join_date'].sort_values()
legacy_users['join_date'].unique()
legacy_users['join_date'] = DataCleaning.remove_non_datetime_values(legacy_users, 'join_date')
legacy_users['join_date'] = DataCleaning.format_datetime_values(legacy_users, 'join_date')
legacy_users = DataCleaning.remove_null_values(legacy_users)
legacy_users['join_date'].sort_values()

11443
10013
10224
752
1046
            ...
4325     2022-11-17
7565     2022-11-18
11002    2022-11-18
9816     2022-11-18
14498    2022-11-19
Name: join_date, Length: 15320, dtype: object

In [15]:
legacy_users['user_uuid'].sort_values()
legacy_users['user_uuid'].unique()

array(['93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8',
       '8fe96c3a-d62d-4eb5-b313-cf12d9126a49',
       'fc461df4-b919-48b2-909e-55c95a03fe6b', ...,
       '1a0a8b7b-7c17-42d8-a946-8a85d5495651',
       '187fe06e-bd5f-4381-af2f-d7ac37ca7572',
       '0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1'], dtype=object)

In [16]:
del legacy_users['index']

In [17]:
DatabaseConnector().upload_to_db(legacy_users, 'dim_users')

Initialise the new instance of DatabaseConnector.