https://www.youtube.com/watch?v=bDhvCp3_lYw

In [ ]:
# drop duplicate rows and save to df
df = df.drop_duplicates()

In [ ]:
# drop useless columns
df.drop(columns='col_name', inplace=True)

In [ ]:
# trim values from left or right or both sides
# by default, it removes white space

# '...139/1' -> '39'
df['col_name'] = df['col_name'].str.strip('123._/') # removes values that's in the string arg

df['col_name'] = df['col_name'].str.lstrip('...') # removes '...' on left side
df['col_name'] = df['col_name'].str.rstrip()
df

In [ ]:
# replace everything apart from anything that matches the regex with nothing
df['col_name'] = df['col_name'].str.replace('[^a-zA-Z0-9]', '')

# replace NaN with ''
df['col_name'] = df['col_name'].str.replace('NaN', '')

In [ ]:
# convert values in the column to string
df['col_name'] = df['col_name'].apply(lambda x: str(x))

# '123456789' -> '123-456-789'
df['col_name'] = df['col_name'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

In [ ]:
# split column on the comma, look for 1 comma from left to right

# '12 Rooky Lane, Selly, Birmingham, B1 9SQ' -> '12 Rooky Lane' + Selly, Birmingham, B1 9SQ' 
df['col_name'].str.split(',', 1, expand=True)

df[['Street Address', 'Town', 'City', 'Post Code']] = df['col_name'].str.split(',', 3, expand=True)
df

In [ ]:
# fill NaN with blank
df.fillna('')

# replace N/a with blank across the entire df
df = df.replace('N/a', '')

In [ ]:
# remove row that contains 'Yes' in 'Do_Not_Contact_column'
for row in df.index:
    val = df.loc[row, 'Do_Not_Contact_column'] # look at the value under this column
    if val == 'Yes':
        df.drop(row, inplace=True)

# https://sparkbyexamples.com/pandas/pandas-delete-rows-based-on-column-value/
# Remove rows
df2 = df[df.Fee >= 24000]

In [ ]:
# another way to drop null values
df.dropna(subset='Phone_Num', inplace=True)

In [ ]:
# reset index
df.reset_index(drop=True)