In [1]:
import sys
import os
 
# Getting the name of the directory where the this file is present.
current = os.path.dirname(os.path.realpath('stores_details'))
 
# Getting the parent directory name where the current directory is present.
parent = os.path.dirname(current)
 
# Adding the parent directory to the sys.path.
sys.path.append(parent)

from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector

In [2]:
NUMBER_OF_STORES_ENDPOINT = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
number_of_stores = DataExtractor().list_number_of_stores(NUMBER_OF_STORES_ENDPOINT) # 451

Initialise the new instance of DatabaseConnector.

In [3]:
RETRIEVE_A_STORE_ENDPOINT = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details'
df = DataExtractor().retrieve_stores_data(RETRIEVE_A_STORE_ENDPOINT, number_of_stores)
df

Initialise the new instance of DatabaseConnector.

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [4]:
df = df.drop_duplicates()
df = DataCleaning.remove_null_values(df)
df

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,,,,,WEB-1388012W,325,2010-06-12,Web Portal,,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [5]:
list(df)
# ['index', 'address', 'longitude', 'lat', 'locality', 'store_code', 'staff_numbers',
#  'opening_date', 'store_type', 'latitude', 'country_code', 'continent']

['index',
 'address',
 'longitude',
 'lat',
 'locality',
 'store_code',
 'staff_numbers',
 'opening_date',
 'store_type',
 'latitude',
 'country_code',
 'continent']

In [6]:
del df['index']
df

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,,,,,WEB-1388012W,325,2010-06-12,Web Portal,,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [7]:
df['address'].sort_values()
# df['address'].unique()

0
437
217
405
369     0 Marian circles\nPort Kayleigh\nPR5 6LW, Bushey
                             ...
381                                           ZBGB54ID4H
82               Zahnstraße 7/0\n50265 Plauen, Schleswig
129           Zimmerweg 693\n26271 Havelberg, Pfullingen
348    auch Schlauchinstraße 287\n85621 Ochsenfurt, W...
229    van der Dussenallee 980\n73428 Karlsruhe, Hofh...
Name: address, Length: 451, dtype: object

In [8]:
df['longitude'].unique()
df['longitude'] = DataCleaning.remove_alphanumerical_values(df, 'longitude')
df['longitude'].unique()
df['longitude'].sort_values()

0
217
231
405
333
         ...
181    57.47908
345    57.47908
396    57.47908
26     57.47908
364    57.47908
Name: longitude, Length: 451, dtype: object

In [9]:
df['lat'].unique()

array(['', '13KJZ890JH', '2XE1OWOC23', 'OXVE5QR07O', 'VKA5I8H32X',
       'LACCWDI0SB', 'A3O5CBWAMD', 'UXMWDMX1LC'], dtype=object)

In [10]:
df['locality'].unique()
df['locality'].sort_values()
df['locality'] = DataCleaning.remove_strings_with_numbers(df, 'locality')
df['locality'].sort_values()
df['locality'].unique()

array(['', 'High Wycombe', 'Landshut', 'Westbury', 'Belper',
       'Gainsborough', 'Rutherglen', 'Stuttgart', 'Kaukauna', 'Hartley',
       'Siegburg', 'Devizes', 'Crystal Lake', 'Halstenbek', 'Lancing',
       'Newbury', 'Lymington', 'Chapletown', 'Barnet', 'East Dereham',
       'Poulton-le-Fylde', 'Bushey', 'Ehingen', 'Aberdeen', 'Surbiton',
       'Inverness', 'Weimar', 'Penzance', 'Albstadt', 'Hechingen',
       'Mexborough', 'Arbroath', 'Cowes', 'Clacton-on-Sea', 'Boston',
       'Charlottenburg-Nord', 'Bretten', 'Sun City Center', 'Karben',
       'Martinsburg', 'Oschatz', 'Kingston upon Hull', 'Leyland',
       'Venice', 'Schleswig', 'Eppingen', 'Losheim', 'Burscheid',
       'Southsea', 'Porterville', 'Walsrode', 'Exeter', 'Thetford',
       'Morningside Heights', 'Searcy', 'Radevormwald', 'Stade',
       'Mira Mesa', 'Strood', 'Verl', 'Wesseling', 'Pfullingen',
       'Bensheim', 'Walton-on-the-Naze', 'Friedberg', 'Winsford',
       'Newburgh', 'Selby', 'Oberhausen', 'Zeitz', 'Viewpark',
       'Rhosllanerchrugog', 'Marburg an der Lahn', 'Waverly', 'Memmingen',
       'Trossingen', 'Dahlem', 'Lower Earley', 'Barmbek-Nord',
       'Bad Segeberg', 'Great Wyrley', 'Nidderau', 'Jersey City',
       'Fayetteville', 'Gauting', 'Blackpool', 'Redding',
       'Hofheim am Taunus', 'Wittenau', 'Aschaffenburg',
       'Fairview Heights', 'Sicklerville', 'Brierley Hill',
       'Kirchlengern', 'Port Richmond', 'Belle Glade', 'Reutlingen',
       'Brunswick', 'Gronau', 'Gifhorn', 'Carlsbad', 'Lutz', 'Sterling',
       'Korschenbroich', 'Hutchinson', 'Scarsdale', 'Iron River',
       'Jackson', 'Bridgeport', 'Rudolstadt', 'Hermsdorf',
       'Neuburg an der Donau', 'Bad Honnef', 'Scottsdale', 'Troutdale',
       'Columbia Heights', 'Westchester'], dtype=object)

In [11]:
df['store_code'].unique()
df['store_code'] = DataCleaning.remove_values_with_non_alpha_prefix(df, 'store_code')
df['store_code'].unique()
df['store_code'].sort_values()

63
447
172
437
217
          ...
133    WI-37616D0E
111    WI-56B02C82
234    WI-5CDC1053
131    ZE-BBF02AEA
184    ZE-EA9C82AA
Name: store_code, Length: 451, dtype: object

In [12]:
df['staff_numbers'].unique()
df['staff_numbers'] = DataCleaning.remove_non_digit_values(df, 'staff_numbers')
df['staff_numbers'].unique()

array(['325', '34', '92', '69', '35', '36', '31', '20', '32', '25', '138',
       '38', '39', '33', '109', '8', '119', '28', '29', '27', '', '96',
       '135', '30', '90', '120', '50', '75', '118', '37', '67', '26',
       '40', '6', '22', '24', '83', '82', '117', '7', '21', '132', '131',
       '130', '70', '23', '51', '127', '4', '110', '5', '81', '85', '41',
       '57', '102', '103', '68', '99', '66', '124', '74', '87', '122',
       '112', '100', '71', '128', '76', '77', '137', '111', '58', '56',
       '72', '80', '101', '93', '73', '129', '60', '114', '52', '63',
       '78', '113', '94', '134', '84', '59', '108', '89', '53', '106',
       '48', '133', '107', '62', '86', '139', '98', '61'], dtype=object)

In [13]:
df['opening_date'].unique()
df['opening_date'] = DataCleaning.remove_non_datetime_values(df, 'opening_date')
df['opening_date'] = DataCleaning.format_datetime_values(df, 'opening_date')
df = DataCleaning.remove_null_values(df)
df['opening_date'].unique()

array(['2010-06-12', '1996-10-25', '2013-04-12', '2014-01-02',
       '2019-09-09', '1995-05-15', '2001-01-04', '2000-06-01',
       '2022-09-05', '2004-09-11', '2012-10-08', '2015-07-14',
       '2014-10-11', '2018-04-05', '1994-03-08', '2020-06-05',
       '2004-05-02', '2016-02-12', '2008-01-21', '2022-08-01',
       '1994-08-12', '2010-10-19', '2013-08-05', '2017-12-12',
       '2002-06-18', '2007-06-24', '2017-11-04', '2008-07-08',
       '1998-12-23', '2011-03-11', '2010-08-25', '2012-11-09',
       '2016-10-07', '2018-08-15', '1996-10-02', '2018-06-18',
       '1995-06-04', '1994-10-18', '2002-07-21', '2013-12-23',
       '2006-10-04', '1999-07-17', '1998-12-19', '2019-07-28',
       '2017-10-21', '2020-05-13', '2019-12-24', '2002-04-03',
       '2009-08-07', '2004-05-23', '2001-07-11', '1998-07-07',
       '2011-07-07', '2007-02-04', '1993-10-13', '2006-06-16',
       '2006-02-23', '2019-09-08', '1993-09-03', '2002-01-18',
       '2009-04-14', '2014-07-16', '2012-05-15', '', '2006-01-13',
       '2019-01-11', '1994-05-26', '2015-02-16', '2002-03-30',
       '2003-04-19', '2017-04-15', '1997-01-16', '2017-10-11',
       '2012-08-16', '1998-12-12', '1996-04-19', '2001-08-01',
       '2004-12-19', '1998-12-20', '1999-11-14', '2008-02-04',
       '2009-08-19', '2002-09-30', '2012-05-10', '2010-03-16',
       '1999-12-10', '2018-02-18', '2011-05-02', '2010-03-15',
       '2021-03-12', '2011-03-27', '2005-04-28', '2000-12-29',
       '2006-07-07', '2022-01-20', '2017-01-09', '2000-07-10',
       '1997-08-29', '2021-04-17', '1997-12-01', '2005-10-31',
       '2011-09-25', '1994-11-01', '2001-02-16', '2003-08-08',
       '2012-02-15', '2021-06-26', '2010-07-15', '1993-05-06',
       '2012-09-15', '2021-06-16', '1999-11-05', '2008-02-27',
       '2019-07-12', '2022-08-31', '2008-03-27', '2019-08-07',
       '2010-07-23', '2013-11-17', '2011-06-18', '2001-11-28',
       '2014-07-03', '2020-02-01', '2021-02-27', '2015-12-13',
       '2008-09-01', '1996-06-05', '2007-02-03', '1993-09-28',
       '1995-11-07', '2002-08-16', '2002-07-30', '2014-09-03',
       '2000-08-19', '2006-07-26', '2007-02-28', '2011-11-06',
       '1993-11-24', '1995-12-30', '2006-10-18', '2003-04-07',
       '1997-02-07', '2003-05-27', '2005-08-01', '2006-02-20',
       '1994-08-09', '2021-02-20', '2019-12-08', '2008-03-08',
       '2014-05-24', '2015-02-12', '1994-09-10', '2005-01-04',
       '2006-05-22', '2018-05-26', '2001-11-11', '2006-06-15',
       '2005-12-23', '2022-06-21', '2003-11-19', '1998-04-22',
       '2013-04-29', '2004-01-27', '2008-03-31', '2012-03-15',
       '2001-05-20', '2010-08-09', '2012-11-28', '1993-10-02',
       '2019-01-16', '2014-08-19', '2004-09-13', '2007-07-21',
       '2015-01-08', '2021-06-20', '2006-02-03', '1994-03-07',
       '2011-11-27', '1993-03-17', '2005-04-26', '2015-02-13',
       '2001-02-19', '2010-07-19', '1997-07-01', '1999-11-19',
       '2000-08-02', '2000-06-28', '2016-11-25', '2001-03-08',
       '2012-05-02', '2001-05-23', '2005-08-05', '2015-02-03',
       '2006-10-03', '1997-05-01', '2019-09-04', '2013-06-04',
       '2014-09-17', '2021-01-12', '2019-11-23', '2015-10-02',
       '2013-03-30', '2007-12-15', '2008-12-07', '2020-08-22',
       '2007-12-21', '1996-10-26', '2017-05-21', '2009-11-19',
       '1998-02-27', '2000-06-23', '2008-03-20', '1995-04-22',
       '2016-10-31', '2013-10-25', '2021-05-19', '2014-05-21',
       '2003-04-04', '2016-02-06', '2010-05-21', '2015-02-19',
       '1993-11-21', '2018-02-13', '1994-09-16', '2013-11-19',
       '2014-04-07', '2006-05-04', '2006-08-23', '2015-03-20',
       '2018-10-03', '2000-02-12', '2011-11-25', '2003-11-06',
       '2021-08-05', '2007-09-05', '2014-07-28', '2022-07-29',
       '2004-12-07', '1994-10-17', '1997-03-15', '2018-03-09',
       '1995-06-06', '1994-02-28', '1994-12-02', '1994-08-19',
       '2017-12-27', '2008-11-15', '2004-12-30', '2015-05-11',
       '1998-12-18', '2019-09-13', '1999-03-30', '2004-08-13',
       '2009-07-22', '2001-01-12', '2019-04-27', '1995-01-20',
       '2010-10-27', '2006-07-08', '2005-06-07', '2013-11-04',
       '1995-01-21', '2002-11-07', '1998-05-02', '2018-04-26',
       '2007-09-03', '1997-10-26', '2018-02-26', '2017-06-19',
       '1995-04-29', '1999-11-24', '2011-08-15', '1999-01-12',
       '2005-04-07', '2002-11-22', '2011-02-19', '2013-05-04',
       '2003-01-06', '2013-07-13', '1998-07-18', '2008-02-14',
       '2003-04-23', '2005-06-13', '2011-08-20', '2004-11-17',
       '2001-05-04', '2022-02-25', '2000-02-15', '2010-02-02',
       '1993-01-26', '2016-05-16', '2016-04-29', '2004-03-15',
       '2018-11-29', '2020-02-22', '2000-09-20', '2005-01-10',
       '2000-06-27', '1996-05-18', '2022-06-18', '2003-05-17',
       '2022-10-12', '1993-04-19', '2019-01-06', '2007-05-27',
       '2017-09-04', '2007-05-05', '2012-09-22', '1996-06-01',
       '2012-08-18', '2012-10-07', '2004-01-23', '2017-11-17',
       '1996-02-04', '2019-12-18', '1996-09-18', '2001-05-18',
       '2015-03-06', '2003-10-16', '2005-03-26', '2010-11-15',
       '1998-09-29', '2015-08-31', '1996-10-22', '2011-09-24',
       '1996-10-15', '2011-02-08', '1995-02-26', '2012-06-21',
       '2018-02-08', '1998-05-05', '1994-11-24', '2018-05-08',
       '2017-10-24', '1999-01-02', '1994-01-29', '2010-06-06',
       '2006-07-18', '2020-11-13', '2009-07-26', '2017-06-01',
       '1998-01-22', '1998-04-01', '1998-09-11', '1999-09-18',
       '1997-03-25', '1996-07-09', '2002-05-14', '1997-09-15',
       '2015-07-05', '2021-08-11', '2009-09-20', '2001-04-20',
       '2000-12-28', '1995-08-26', '2007-10-04', '1994-12-04',
       '1999-05-16', '2005-11-08', '2009-02-28', '1994-10-11',
       '2017-06-12', '2001-07-27', '2010-07-26', '1995-03-05',
       '2001-05-10', '1997-01-30', '2019-07-19', '2018-10-21',
       '1993-08-16', '2006-06-18', '1997-09-17', '1994-10-19',
       '2002-07-23', '2019-01-04', '2006-01-20', '2018-03-30',
       '2005-03-13', '2022-04-05', '1996-05-30', '2004-02-13',
       '2015-03-02', '2005-07-20', '1993-08-03', '2021-06-15',
       '2013-05-08', '2004-10-11', '2017-01-10', '2003-12-11',
       '2012-03-06', '2003-11-05', '2010-10-18', '2017-10-26',
       '1996-12-11', '2016-03-16', '2002-11-18', '1993-06-29',
       '2018-04-10', '2003-08-05', '2011-12-12', '1996-12-01',
       '2014-01-13', '2001-09-05', '2004-02-09', '2010-02-06',
       '2017-09-10', '2010-04-06', '2022-02-23', '1997-11-14',
       '2021-11-24', '2017-05-28', '1998-08-05', '2001-06-06',
       '2006-10-09', '2016-03-20', '2003-05-01', '1994-12-27',
       '2021-02-28', '1996-10-16', '2022-07-16', '1996-11-16',
       '2005-09-01', '2022-08-20', '2017-01-14', '2020-12-15',
       '2019-10-30', '2014-06-04', '2008-06-08', '2005-05-12',
       '1998-05-14', '2020-10-17', '2001-05-12'], dtype=object)

In [14]:
df['store_type'].unique()
df['store_type'] = DataCleaning.remove_non_store_types(df, 'store_type')
df['store_type'].unique()

array(['Web Portal', 'Local', 'Super Store', 'Mall Kiosk', 'Outlet', ''],
      dtype=object)

In [15]:
df['latitude'].unique()
df['latitude'] = DataCleaning.remove_alphanumerical_values(df, 'latitude')
df['latitude'].unique()

array(['', '-0.74934', '12.16179', '-2.1875', '-1.48119', '-0.76667',
       '-4.21376', '9.17702', '-88.27205', '0.30367', '7.20769',
       '-1.99421', '-88.3162', '9.85', '-0.32247', '-1.32471', '-1.5443',
       '-1.47217', '-0.2', '0.93333', '-2.98333', '-0.36053', '9.72749',
       '-2.09814', '-0.29825', '-4.22398', '11.32903', '-5.53715',
       '9.02596', '8.96317', '-1.29243', '-2.58736', '-1.29772',
       '1.15597', '-71.05977', '13.29371', '8.70745', '-82.35176',
       '8.77155', '-77.96389', '13.10984', '-0.33525', '-2.68758',
       '-82.45426', '9.5586', '8.91229', '6.74549', '7.11393', '-1.08593',
       '-119.01677', '9.5926', '-3.52751', '0.75', '-73.9625',
       '-91.73625', '7.36027', '9.47629', '-117.14392', '0.47713',
       '8.51667', '6.9747', '9.22796', '8.61839', '1.26738', '10.98461',
       '-2.52398', '-74.01042', '-1.06667', '6.8625', '12.1369',
       '-4.0573', '-3.05814', '8.77069', '-84.62081', '10.18527',
       '8.64409', '13.28702', '-0.91979', '10.03988', '10.30215',
       '-2.01111', '8.86704', '-74.07764', '-78.87836', '11.37703',
       '-3.05', '-122.39168', '8.4493', '13.32127', '9.15214',
       '-89.99038', '-74.96933', '-2.12139', '8.63333', '-74.13653',
       '-80.66756', '9.20427', '-69.96533', '7.02238', '10.5511',
       '-104.22884', '-82.46148', '-77.4286', '6.51352', '-97.92977',
       '-73.78458', '-88.64235', '-88.81395', '-73.20483', '11.34046',
       '13.31783', '11.18709', '7.2278', '-111.89903', '-122.38731',
       '-93.263', '-87.882'], dtype=object)

In [16]:
df['country_code'].unique()
df['country_code'] = DataCleaning.remove_strings_of_undesired_length(df, 'country_code', 2)
df['country_code'].unique()

array(['GB', 'DE', 'US', ''], dtype=object)

In [17]:
df['continent'].unique()
df['continent'] = DataCleaning.remove_non_alpha_values(df, 'continent')
df['continent'].unique()
df['continent'] = df['continent'].replace('eeEurope', 'Europe')
df['continent'] = df['continent'].replace('eeAmerica', 'America')
df['continent'].unique()

array(['Europe', 'America', ''], dtype=object)

In [18]:
df = df[(df.address != '') & (df.store_code != '')]
df.address.sort_values()
df.store_code.sort_values()

307    AB-30E0C17F
225    AB-316DE4BA
286    AB-337AEBA7
250    AB-4ABD6D51
24     AB-917B715E
          ...
133    WI-37616D0E
111    WI-56B02C82
234    WI-5CDC1053
131    ZE-BBF02AEA
184    ZE-EA9C82AA
Name: store_code, Length: 440, dtype: object

In [19]:
DatabaseConnector().upload_to_db(df, 'dim_store_details')

Initialise the new instance of DatabaseConnector.